/* hero */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/bkg-image.jpg);
    background-position: center;
    background-size: cover;

    &__title {
        margin-bottom: 30px;
        font-size: 44px;
        line-height: 1.36;
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }

}

.container--width {
    width: 700px;
}

.button-order {
    padding: 10px 32px;
    background-color: var(--brand-color);
    color: #FFFFFF;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-sizing: border-box;
    border: var(--brand-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, &:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

